@model LayoutViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VNToday - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("PageStyles", required: false)
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-3 col-sm-6 d-flex">
                    <!--Will be managed on admin-->
                    <div class="portal-logo-box">
                        <img src="@Model.SiteLogoImage" />
                    </div>
                </div>
                <div class="col-8 col-md-8 col-sm-6">
                    <!--Will be managed on admin-->
                    <div class="top-banner-box">
                        <a href="/Article/CultureConnect">
                            <img src="@Model.TopBannerImage" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav nav-fill justify-content-center align-items-center portal-top-menu">
            <div class="d-flex justify-content-between">
                <a href="/"><img src="~/assets/home-icon.png"></a>
                <a href="/">Tin tức</a>
                <a href="/">Thời sự</a>
                <a href="/">Thế giới</a>
                <a href="/">Kinh doanh</a>
                <a href="/">Giải trí</a>
                <a href="/">Thể thao</a>
                <a href="/">Pháp luật</a>
                <a href="/">Giáo dục</a>
                <a href="/">Sức khỏe</a>
                <a href="/">Du lịch</a>
                <a href="/">Khoa học</a>
                <a href="/">Diễn đàn</a>
                <a href="/">Search icon</a>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="~/assets/vntoday-logo.png" />
            </div>
            <div class="col-9 d-flex flex-column justify-content-center">
                <div class="row border-top">
                    <div class="col-3 border-right mt-3 d-flex flex-column justify-content-center">
                        <div class="social-connect-box">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-3 mt-3">
                        <h4>
                            <a><i class="fas fa-envelope-open-text"></i></a> | NEWS DAILY
                        </h4>
                        <p>
                            Get news from the VNToday in your box each weekday morning
                        </p>
                    </div>
                    <div class="col-3 mt-3">
                        <h4>
                            <a><i class="fas fa-mobile-alt"></i></a> | NEWS APP
                        </h4>
                        <p>
                            Find out more about our VNToday News App
                        </p>
                    </div>
                    <div class="col-3 mt-3">
                        <ul class="list-unstyled">
                            <li>Send us an email to: info@vntoday.ca</li>
                            <li>Send an SMS or MMS to: +1 123 456 7890</li>
                            <li>Follow us on Twitter</li>
                            <li><a>Why you can trust VNToday News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-muted">
        <div class="container-fluid portal-footer-box">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-md-4 col-sm-6 d-flex">
                        <!--Will be managed on admin-->
                        <div class="portal-logo-box">
                            <img src="@Model.FooterLogoImage" />
                        </div>
                    </div>
                    <div class="col-8 col-md-8 col-sm-6">
                        <div class="footer-menu-box">
                            <div class="row">
                                <div class="col-2"><a href="/">Tin tức</a></div>
                                <div class="col-2"><a href="/">Thời sự</a></div>
                                <div class="col-2"><a href="/">Thế giới</a></div>
                                <div class="col-2"><a href="/">Kinh doanh</a></div>
                                <div class="col-2"><a href="/">Giải trí</a></div>
                                <div class="col-2"><a href="/">Thể thao</a></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><a href="/">Pháp luật</a></div>
                                <div class="col-2"><a href="/">Giáo dục</a></div>
                                <div class="col-2"><a href="/">Sức khỏe</a></div>
                                <div class="col-2"><a href="/">Du lịch</a></div>
                                <div class="col-2"><a href="/">Khoa học</a></div>
                                <div class="col-2"><a href="/">Diễn đàn</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
