@{
    ViewData["Title"] = "Home Page";
    Random rand = new Random();
}

@model HomePageViewModel

@section PageStyles{
    <link rel="stylesheet" href="~/css/home.css" />
}

<!--Row 1-->
<div class="container">
    <div class="row mb-2">
        <div class="col-8 border-bottom">
            <div class="row">
                <div class="col-8">
                    <div class="feature-news-box border-right">
                        <ul class="nav nav-pills mb-2 mt-1 features-list" id="pills-tab1" role="tablist">
                            <li>
                                <a class="active"
                                   id="pills-listnews1-tab"
                                   data-toggle="pill"
                                   href="#pills-listNews1"
                                   role="tab"
                                   aria-controls="pills-listNews1"
                                   aria-selected="true">Thời sự</a>
                            </li>
                            <li>
                                <a id="pills-listnews2-tab"
                                   data-toggle="pill"
                                   href="#pills-listNews2"
                                   role="tab"
                                   aria-controls="pills-listNews2"
                                   aria-selected="false">Startup</a>
                            </li>
                            <li>
                                <a id="pills-listnews3-tab"
                                   data-toggle="pill"
                                   href="#pills-listNews3"
                                   role="tab"
                                   aria-controls="pills-listNews3"
                                   aria-selected="false">Kinh tế</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-feature1" role="tabpanel" aria-labelledby="pills-feature1-tab">
                                <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[0].Slug}")">
                                    <img src="@Model.NewFeeds[0].FeatureImage" />
                                </a>
                                <h3>
                                    @Html.ActionLink(Model.NewFeeds[0].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[0].Slug })
                                </h3>
                                <p>
                                    @Html.Raw(Model.NewFeeds[0].Description)
                                </p>
                            </div>
                            @for (int i = 1; i < 7; i++)
                            {
                                <div class="tab-pane fade" id="@Html.Raw($"pills-feature{i + 1}")" role="tabpanel" aria-labelledby="@Html.Raw($"pills-feature{i + 1}-tab")">
                                    <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[i].Slug}")">
                                        <img src="@Model.NewFeeds[i].FeatureImage" />
                                    </a>
                                    <h3>
                                        @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                                    </h3>
                                    <p>
                                        @Html.Raw(Model.NewFeeds[i].Description)
                                    </p>
                                </div>
                            }

                            @for (int i = 7, j = 0; i < 14; i++, j++)
                            {
                                <div class="tab-pane fade" id="@Html.Raw($"pills-feature{i + 1}")" role="tabpanel" aria-labelledby="@Html.Raw($"pills-feature{i + 1}-tab")">
                                    <a href="@Html.Raw($"/Article?articleSlug={Model.ShoppingNews[j].Slug}")">
                                        <img src="@Model.ShoppingNews[j].FeatureImage" />
                                    </a>
                                    <h3>
                                        @Html.ActionLink(Model.ShoppingNews[j].Title, "Index", "Article", new { articleSlug = Model.ShoppingNews[j].Slug })
                                    </h3>
                                    <p>
                                        @Html.Raw(Model.ShoppingNews[j].Description)
                                    </p>
                                </div>
                            }

                            @for (int i = 14, j = 0; i < 21; i++, j++)
                            {
                                <div class="tab-pane fade" id="@Html.Raw($"pills-feature{i + 1}")" role="tabpanel" aria-labelledby="@Html.Raw($"pills-feature{i + 1}-tab")">
                                    <a href="@Html.Raw($"/Article?articleSlug={Model.BusinessNews[j].Slug}")">
                                        <img src="@Model.BusinessNews[j].FeatureImage" />
                                    </a>
                                    <h3>
                                        @Html.ActionLink(Model.BusinessNews[j].Title, "Index", "Article", new { articleSlug = Model.BusinessNews[j].Slug })
                                    </h3>
                                    <p>
                                        @Html.Raw(Model.BusinessNews[j].Description)
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="tab-content list-news-box" id="pills-tabListNews">
                        <div class="tab-pane fade show active" id="pills-listNews1" role="tabpanel" aria-labelledby="pills-listnews1-tab">
                            <ul id="pills-tab2" class="nav nav-pills nav-list-news" role="tablist">
                                <li>
                                    <a class="active"
                                       id="pills-feature1-tab"
                                       data-toggle="pill"
                                       href="#pills-feature1"
                                       role="tab"
                                       aria-controls="pills-feature1"
                                       aria-selected="true">
                                        @Model.NewFeeds[0].Title
                                    </a>
                                </li>
                                @for (int i = 1; i < 7; i++)
                                {
                                    <li>
                                        <a id="@Html.Raw($"pills-feature{i + 1}-tab")"
                                           data-toggle="pill"
                                           href="@Html.Raw($"#pills-feature{i + 1}")"
                                           role="tab"
                                           aria-controls="@Html.Raw($"pills-feature{i + 1}")"
                                           aria-selected="false">@Model.NewFeeds[i].Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-listNews2" role="tabpanel" aria-labelledby="pills-listnews2-tab">
                            <ul>
                                @for (int i = 7, j = 0; i < 14; i++, j++)
                                {
                                    <li>
                                        <a id="@Html.Raw($"pills-feature{i + 1}-tab")"
                                           data-toggle="pill"
                                           href="@Html.Raw($"#pills-feature{i + 1}")"
                                           role="tab"
                                           aria-controls="@Html.Raw($"pills-feature{i + 1}")"
                                           aria-selected="false">@Model.ShoppingNews[j].Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-listNews3" role="tabpanel" aria-labelledby="pills-listnews3-tab">
                            <ul>
                                @for (int i = 14, j = 0; i < 21; i++, j++)
                                {
                                    <li>
                                        <a id="@Html.Raw($"pills-feature{i + 1}-tab")"
                                           data-toggle="pill"
                                           href="@Html.Raw($"#pills-feature{i + 1}")"
                                           role="tab"
                                           aria-controls="@Html.Raw($"pills-feature{i + 1}")"
                                           aria-selected="false">@Model.BusinessNews[j].Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 border-left">
            <div class="home-adv-box">
                <img src="~/assets/adv1.png" />
                <img src="~/assets/adv2.png" />
            </div>
        </div>
    </div>
    <!--Row 2-->
    <div class="row">
        <div class="col-6">
            <ul class="list-group list-group-flush">
                @for (int i = 0; i < 5; i++)
                {
                    int randNewFeeds = rand.Next(0, Model.NewFeeds.Count);
                    <li class="list-group-item">
                        <h5>
                            @Html.ActionLink(Model.NewFeeds[randNewFeeds].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[randNewFeeds].Slug })
                        </h5>
                        <div class="news-box">
                            <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[randNewFeeds].Slug}")">
                                <img src="@Model.NewFeeds[randNewFeeds].FeatureImage">
                            </a>
                            <br />
                            @Html.Raw(Model.NewFeeds[randNewFeeds].Description)
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="col-3">
            <div class="media-news-box">
                <img src="~/assets/media-news.jpg" />
            </div>
            <div class="list-news-banner">&nbsp;</div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 0; i < 7; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="media-news-box">
                <img src="~/assets/media-news2.jpg" />
            </div>
            <div class="list-news-banner">&nbsp;</div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 7; i < 14; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--Row 3-->
    <div class="row">
        @foreach (string adv in Model.MidPageAdv)
        {
            <div class="col-4 d-flex">
                <div class="adv-box">
                    @Html.Raw(adv)
                </div>
            </div>
        }
    </div>
    <!--Row 4-->
    <div class="row">
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/media-news.jpg" />
            </div>
            <div class="list-news-banner">&nbsp;</div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 14; i < 21; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/media-news2.jpg" />
            </div>
            <div class="list-news-banner">&nbsp;</div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 11; i < 18; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/media-news3.jpg" />
            </div>
            <div class="list-news-banner">&nbsp;</div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 0; i < 7; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--Row 5-->
    <div class="row">
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/media-news4.jpg" />
            </div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 0; i < 7; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/feature-3.jpg" />
            </div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 0; i < 7; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="media-news-box">
                <img src="~/assets/feature-4.jpg" />
            </div>
            <div class="list-news-box">
                <ul>
                    @for (int i = 0; i < 7; i++)
                    {
                        <li>
                            @Html.ActionLink(Model.NewFeeds[i].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[i].Slug })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--Row 6-->
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    @{
                        int randMedia = rand.Next(0, Model.NewFeeds.Count);

                        <div class="media-news-box">
                            <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[randMedia].Slug}")">
                                <img src="@Model.NewFeeds[randMedia].FeatureImage" />
                            </a>
                        </div>
                        <h4>
                            @Html.ActionLink(Model.NewFeeds[randMedia].Title, "Index", "Article", new { articleSlug = Model.NewFeeds[randMedia].Slug })
                        </h4>
                        <p>@Model.NewFeeds[randMedia].Description</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    @{
                        randMedia = rand.Next(0, Model.NewFeeds.Count);
                        <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[randMedia].Slug}")">
                            <img src="@Model.NewFeeds[randMedia].FeatureImage" />
                        </a>
                        <p>@Model.NewFeeds[randMedia].Description</p>
                    }
                </div>
                <div class="col-7">
                    <ul class="list-group list-group-flush">
                        @for (int i = 0; i < 2; i++)
                        {
                            randMedia = rand.Next(0, Model.NewFeeds.Count);
                            <li class="list-group-item">
                                <div class="news-box">
                                    <a href="@Html.Raw($"/Article?articleSlug={Model.NewFeeds[randMedia].Slug}")">
                                        <img style="width:150px;" src="@Model.NewFeeds[randMedia].FeatureImage" />
                                    </a>
                                    <p>@Model.NewFeeds[randMedia].Description</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="vert-adv-box">
                @foreach (string adv in Model.FootPageAdv)
                {
                    @Html.Raw(adv);
                }
            </div>
        </div>
    </div>
    <!--Row 7-->
    <div class="row mt-1 mb-1">
        <h4 class="media-header">Thông tin doanh nghiệp</h4>
        @for (int i = 0; i < 4; i++)
        {
            int randNewBus = rand.Next(0, Model.BusinessNews.Count);
            <div class="col-3">
                <a href="@Html.Raw($"/Article?articleSlug={Model.BusinessNews[randNewBus].Slug}")">
                    <img height="150" src="@Model.BusinessNews[randNewBus].FeatureImage">
                </a>
                <br />
                @Html.Raw(Model.BusinessNews[randNewBus].Description)
            </div>
        }
    </div>
    <div class="row mt-1 mb-1">
        <h4 class="media-header">Shopping online</h4>
        @for (int i = 0; i < 4; i++)
        {
            int randNewShop = rand.Next(0, Model.ShoppingNews.Count);
            <div class="col-3">
                <a href="@Html.Raw($"/Article?articleSlug={Model.ShoppingNews[randNewShop].Slug}")">
                    <img height="150" src="@Model.ShoppingNews[randNewShop].FeatureImage">
                </a>
                <br />
                @Html.Raw(Model.ShoppingNews[randNewShop].Description)
            </div>
        }
    </div>
</div>